
.rotate {
	height: 500px;
	padding-top: 50px;
	position: relative;
	box-sizing: border-box;

	a {
		color: #fff;
		padding:5px;
		border: 1px solid #fff;

		perspective:210;
		-webkit-perspective: 210;
		transform-origin: 50% 50%;
		transform: rotateY(20deg) rotateX(10deg) rotateZ(30deg);
		position: absolute;

		&:last-child {
			left: 100px;
			top: 100px;
		}
	}
}