header {
  text-align: center;
}
header nav {
  perspective: 500px;
}
header nav div {
  border-radius: 5px;
  width: 120px;
  height: 150px;
  display: inline-block;
}
header nav div.first {
  background-color: aqua;
  -webkit-transform: rotateY(45deg);
  -moz-transform: rotateY(45deg);
  -ms-transform: rotateY(45deg);
  -o-transform: rotateY(45deg);
  transform: rotateY(45deg);
}
header nav div.second {
  background-color: #2a23ff;
  -webkit-transform: scale(0.9, 0.9);
  -moz-transform: scale(0.9, 0.9);
  -ms-transform: scale(0.9, 0.9);
  -o-transform: scale(0.9, 0.9);
  transform: scale(0.9, 0.9);
}
header nav div.three {
  background-color: #ff9517;
  -webkit-transform: scale(0.9, 0.9);
  -moz-transform: scale(0.9, 0.9);
  -ms-transform: scale(0.9, 0.9);
  -o-transform: scale(0.9, 0.9);
  transform: scale(0.9, 0.9);
}
header nav div.four {
  background-color: #ff07bb;
  -webkit-transform: scale(0.9, 0.9);
  -moz-transform: scale(0.9, 0.9);
  -ms-transform: scale(0.9, 0.9);
  -o-transform: scale(0.9, 0.9);
  transform: scale(0.9, 0.9);
}
header nav div.five {
  background-color: #0aff54;
  -webkit-transform: rotateY(-45deg);
  -moz-transform: rotateY(-45deg);
  -ms-transform: rotateY(-45deg);
  -o-transform: rotateY(-45deg);
  transform: rotateY(-45deg);
}
.content {
  margin-top: 100px;
  text-align: center;
}
.content .circle {
  padding: 0 100px;
}
